<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eggert Bot</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/eggert.png">
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>
<header>
    <div class="title-container">
        <img src="/assets/images/eggert.png" alt="Eggert Bot Logo" class="logo">
        <div class="header-title">Eggert Bot</div>
    </div>
    <div class="page-title">{% block title %}{% endblock %}</div>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>© Eggert Bot • Built with 🥚 by Keegan</p>
</footer>
</body>
</html>
